.navbar-nav .nav-link {
  padding-right: 10px;
}
.fa,
.fas {
  margin-left: 4px;
}
.navbar-nav .nav-link {
  padding-right: 8px;
  padding-left: 8px;
  border: solid 1px;
  border-radius: 5px;
}

.listItem {
  margin-right: 10px;
}

/* sidebar */
.navbar {
  padding: 16px;
  transition: 0.5s;
}
.onSidebar {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.5s;
  background-color: #292b2c;
}

.offSidebar {
  width: 0px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.5s;
  background-color: #292b2c;
}
.list-item {
  color: white;
  border-bottom: solid 1px white;
  transition: inherit;
}
