.navbar-nav .nav-link {
  padding-right: 10px;
}
.fa,
.fas {
  margin-left: 4px;
}
.navbar-nav .nav-link {
  padding-right: 8px;
  padding-left: 8px;
  border: solid 1px #000;
  border-radius: 5px;
}

.navbar-nav {
  flex-direction: row !important;
  background-color: #000;
}
.navbar {
  background-color: #000;
}

.listItem {
  margin-right: 10px;
}

a {
  list-style: none;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5) !important;
}
/* sidebar */
.onSidebar {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.5s;
  background-color: #000;
}

.offSidebar {
  width: 0px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.5s;
  background-color: #000;
}
.list-item {
  color: rgba(255, 255, 255, 0.5);
  border-bottom: solid 1px rgba(255, 255, 255, 0.5);
  transition: 0.5s;
  padding: 10px;
}

.collection-title {
  font-size: 28px;
  font-weight: 400;
  line-height: 39px;
  margin-bottom: 20px;
}
.collection-title-2 {
  font-size: 28px;
  font-weight: 400;
  line-height: 39px;
  margin-bottom: -30px;
  margin-left: 15px;
}
.collection-title-3 {
  font-size: 28px;
  font-weight: 400;
  line-height: 39px;
  margin-bottom: -50px;
  margin-left: 15px;
  border-bottom: solid 1px #c8c8c8;
}

/* card */
.card {
  width: 170px;
}
.card-img-top {
  width: 160px !important;
  height: 230px;
  margin: auto;
  display: block;
}

.card-text {
  color: #000;
  font-size: 13px;
  font-weight: 300;
  border: 0;
  margin-top: 0 !important;
  padding: 0 !important;
  white-space: nowrap;
  width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-title {
  color: #000;
  font-size: 16px;
  font-weight: 300;
  white-space: nowrap;
  width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 0;
  margin-bottom: 0 !important;
  padding: 0 !important;
}

.card-body {
  flex: 1 1 auto;
  padding: 0 0.5rem 0 !important;
  height: 100px;
}

.priceTag {
  color: #01579b;
  text-align: right;
  font-size: 13px;
  margin: auto;
}
.addCard {
  margin-left: 8px;
  font-size: 15px !important;
  font-weight: 300;
  background-color: rgb(206, 43, 135);
}

.addToWishlist-btn {
  margin-left: 8px;
  font-size: 15px !important;
  font-weight: 300;
  color: #fff;
}

.searchContainer {
  padding: 20px;
}
.inputfield {
  width: 70%;
}

.valume-info {
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 5px;
  padding-right: 0px;
  max-width: 350px;
  min-width: 350px;
}

.sale-info {
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 5px;
  padding-right: 50px;
}

.book-detail {
  width: 75% !important;
}
.tabs-text {
  font-size: 14px;
  line-height: 24px;
}

.main-content {
  margin-bottom: 50px;
}
.bookInfo {
  position: relative;
  left: 50px;
  margin-top: 50px;
  justify-content: space-evenly;
}
/* product info */
.info-box {
  font-size: 14px;
  line-height: 24px;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  text-align: left;
  white-space: normal;
  color: #000 !important;
  box-sizing: border-box;
  display: inline-block;
  padding: 10px 15px 10px 0;
  text-align: left;
  vertical-align: top;
  width: 170px;
  margin-bottom: 20px;
}

.info-box-title {
  font-weight: 600;
  margin-bottom: 2px;
}

.info-box-text {
  font-weight: 100;
  vertical-align: middle;
  color: #000;
}

.myBotton {
  border: 1px;

  border-radius: 4px;
  /* box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05); */
  /* cursor: pointer; */
  display: block;
  /* font-family: "Roboto", sans-serif; */
  font-size: 14px;
  /* font-style: normal; */
  /* font-weight: 500; */
  /* height: 36px; */
  min-width: 80px;
  padding: 7px;
  position: relative;
  /* text-align: center; */
  /* text-decoration: none; */
  /* white-space: nowrap; */
  /* vertical-align: middle; */
  line-height: 20px;
  /* transition: all 0.2s; */
  height: 100%;
  /* position: relative; */
  /* text-rendering: optimizeLegibility; */
  /* z-index: -1; */
  display: inline-block;
  font-weight: 500;
  text-align: center;
}

.loadMore-btn {
  display: flex;
  justify-content: center;
}

.myBotton:focus {
  outline: none;
}

.cart-product {
  float: left;
  display: flex;
  flex-wrap: wrap;
}

.cart-img {
  width: 80px !important;
  height: 120px;
  margin: auto;
  display: block;
}
.cart-info-list {
  list-style-type: none;
  font-size: 0.85rem;
  font-weight: 400;
  color: #333;
}

th {
  background-color: #d4265b;
  color: white;
}

.cart-checkout {
  width: 31%;
  float: right;
  margin-top: 10px;
}

.line {
  border-bottom: 1px solid #ddd;
  box-sizing: inherit;
  margin: 0.5rem 0;
}

.line-row {
  border-bottom: 1px solid #dee2e6 !important;
}

.checkout-table {
  margin-top: 50px;
}
/* 
.quantityInput {
  width: 20%;
  color: transparent;
  text-shadow: 0 0 0 gray;
}
.quantityInput:focus {
  outline: none;
} */

/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; 
} */

.cart-icon {
  cursor: pointer;
  color: #d4265b;
}

.cart-cell {
  min-width: 20px;
  max-width: 20px;
}

.delete-icon {
  cursor: pointer;
}

.start-shopping-btn {
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  font-weight: normal;
  line-height: 1.15;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  text-decoration: none;
  line-height: 40px;
  min-width: 320px;
  font-size: 1.125rem;
  height: 2.75rem;
}

a.start-shopping-btn:hover {
  text-decoration: none;
}

.empty-cart {
  padding-top: 6rem;
  padding-bottom: 9.5rem;
  text-align: center;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.font-title {
  font-size: 1.25rem;
  font-weight: 400;
}

.empty-cart .actions {
  margin-top: 1.5rem;
}

.bold-lg-text {
  font-size: 1.2rem;
  font-weight: 400;
}

.checked {
  color: orange;
}

.wishlist-item {
  width: 80%;
  border-bottom: 1px solid #c8c8c8;
  margin-top: 24px;
  padding-bottom: 24px;
  padding-top: 34px;
}

.wishlist-img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  word-break: break-all;
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.wishlist-item-img {
  width: 100px;
  height: 140px;
  position: relative;
  vertical-align: middle;
  text-align: center;
  border: solid 1px #c8c8c8;
  display: inline-block;
  margin-right: 32px;
}

.wishlist-item-container {
  display: inline-block;
  margin-right: 15px;
  vertical-align: top;
}

.wishlist-info-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wishlist-item-title {
  font-size: 1rem;
  line-height: 1.3;
}

.wishlist-item-note {
  margin-bottom: 20px;
  margin-top: 2px;
}

.item-note {
  margin: 0;
  padding: 0;
  display: inline;
  font-size: 12px;
  color: #767676;
}

.wishlist-item-info {
  list-style: none;
}

.wishlist-price-info {
  list-style: none;
  float: left;

  vertical-align: top;
  padding-bottom: 25px;
}

.item-colmn {
  padding-left: 0;
  padding: 0 20px 0 20px;
  list-style: none;
  float: left;
  vertical-align: top;
  margin-bottom: 25px;
}

.info-label {
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #6e6e6e;
}
.list-item-info {
  font-size: 1rem;
  margin-top: 3px;
  margin-bottom: 4px;
}

.wishlist-info-list li span {
  display: block;
}

.wishlist-author-list {
  float: right;
  border-right: 0;
  border-left: solid 1px #c8c8c8;
  float: left;
  border-right: solid 1px #c8c8c8;
  vertical-align: top;
  margin-bottom: 0;
  width: 200px;
  max-height: 80px;
  min-height: 80px;
}

.wishlist-subject-list {
  float: right;
  border-right: 0;
  float: left;
  border-right: solid 1px #c8c8c8;
  vertical-align: top;
  margin-bottom: 0;
  width: 200px;
  min-height: 80px;
  max-height: 80px;
}
.item-price-colmn {
  padding-right: 25px;
}

.whishlist-subject-list {
  float: right;
  border-right: 0;
  border-left: solid 1px #c8c8c8;
}

.wishlist-item-action {
  margin-right: 0;
  margin-top: 20px;
  display: inline-block;
  vertical-align: middle;
}

.wishlist-action {
  margin-bottom: 16px;
  display: block;
}

.wishlist-btn {
  padding: 10px;
  max-width: 178px;
  font-size: 0.875rem;
  text-align: center;
  color: #fff;
  border: 1px solid #3665f3 !important;
  background: #3665f3 !important;
  width: 200px;
}

.empty-wishlist-container {
  padding: 80px 0;
  display: block;
}

.empty-wishlist {
  margin: 56px auto;
  max-width: 550px;
  width: 65%;
  margin: auto;
  text-align: center;
  margin-top: 200px;
  color: #6e6e6e;
  display: block;
}

.empty-wishlist-text {
  margin-bottom: 8px;
  letter-spacing: -0.3px;
  width: 100%;
  font-size: 1rem;
  line-height: 20px;
  display: block;
  margin: auto;
  width: 65%;
  margin: auto;
  text-align: center;
  margin-top: 200px;
  color: #6e6e6e;
}

.empty-wishlist-icon {
  display: inline-block;
  width: 64px !important;
  height: 64px !important;
  width: 65%;
  margin: auto;
  text-align: center;

  color: #6e6e6e;
}

.top10-product-info {
  display: flex;
  margin-bottom: 16px;
  align-items: flex-start;
  flex-wrap: wrap;
}

.top10-product-name-wrapper {
  margin-bottom: 4px;
  line-height: 18px;
  font-weight: bold;
  display: block;
  flex: 1;
  margin: 3.5px 0;
  min-width: 220px;
  max-width: 220px;
}
.top10-product-name-wrapper a {
  color: #00724f !important;
  margin-bottom: 4px;
  line-height: 18px;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  margin-right: auto;
  margin-top: 2px;
}
.top10-product-title-sideinfo-wrapper {
  display: flex;
  flex-direction: column;
}

.top10-product-title-sideinfo {
  display: block;
  font-weight: normal;
  font-style: italic;
  font-size: 13px;
  color: #676767;
}

.top10-img {
  width: 160px !important;
  height: 230px;
  padding-right: 16px;
  text-align: center;
  position: relative;
  border: 0;
  background-color: rgba(207, 207, 207, 0.125);
}

.top10-product {
  width: auto;
  display: flex;
  max-width: 100%;
}

.top10-list-product {
  padding-top: 3rem;
  width: 50%;
  padding-right: 32px;
  padding-bottom: 32px;
  padding-left: 14px;
  position: relative;
}

.top10-product-price-wrapper {
  margin-right: 8px;
  margin-top: 0px;
  margin-bottom: 0px;
  position: relative;
  display: inline-block;
}

.top10-product-btn-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.top10-product-price {
  vertical-align: text-top;
  font-size: 14px;
  font-weight: 700;
  white-space: nowrap;
}

.top10-list {
  padding: 3rem 2rem;
  display: flex;
  flex-wrap: wrap;

  margin: 0;
}

.top10-main-wrapper {
  width: 100vw;
  position: relative;
  margin: 0 0 0 -50vw;
  left: 50%;
  background-color: rgba(207, 207, 207, 0.125);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* box-sizing: border-box; */
}

.top10-list {
  list-style-type: none;
  margin-left: -14px;
  display: flex;
  flex-wrap: wrap;
  counter-reset: item;
  margin: 0;
}

.top10-list li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  min-height: 40px;
  line-height: 40px;
  font-family: "Benton Sans", -apple-system, "Roboto", "Segoe UI", Helvetica,
    Arial, sans-serif;
  font-weight: 700;
  color: #343434;
  background-color: rgba(207, 207, 207, 0.5);
  border-radius: 100%;
}
.top10-title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1.5rem 0;
}
