.navbar-nav .nav-link {
  padding-right: 10px;
}
.fa,
.fas {
  margin-left: 4px;
}
.navbar-nav .nav-link {
  padding-right: 8px;
  padding-left: 8px;
  border: solid 1px #000;
  border-radius: 5px;
}

.navbar-nav {
  flex-direction: row !important;
  background-color: #000;
}
.navbar {
  background-color: #000;
}

.listItem {
  margin-right: 10px;
}

/* sidebar */
.onSidebar {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.5s;
  background-color: #000;
}

.offSidebar {
  width: 0px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.5s;
  background-color: #000;
}
.list-item {
  color: rgba(255, 255, 255, 0.5);
  border-bottom: solid 1px rgba(255, 255, 255, 0.5);
  transition: 0.5s;
  padding: 10px;
}

.collection-title {
  font-size: 28px;
  font-weight: 400;
  line-height: 39px;
  margin-bottom: 20px;
}

/* card */
.card {
  width: 170px;
}
.card-img-top {
  width: 160px !important;
  height: 230px;
  margin: auto;
  display: block;
}

.card-text {
  color: #000;
  font-size: 13px;
  font-weight: 300;
  border: 0;
  margin-top: 0 !important;
  padding: 0 !important;
  white-space: nowrap;
  width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-title {
  color: #000;
  font-size: 16px;
  font-weight: 300;
  white-space: nowrap;
  width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 0;
  margin-bottom: 0 !important;
  padding: 0 !important;
}

.card-body {
  flex: 1 1 auto;
  padding: 0 0.5rem 0 !important;
  height: 100px;
}

.priceTag {
  color: #01579b;
  text-align: right;
  font-size: 13px;
  margin: auto;
}
.addCard {
  margin-left: 8px;
  font-size: 15px !important;
  font-weight: 300;
}

.searchContainer {
  padding: 20px;
}
.inputfield {
  width: 70%;
}

.valume-info {
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 5px;
  padding-right: 0px;
  max-width: 350px;
  min-width: 350px;
}

.sale-info {
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 5px;
  padding-right: 50px;
}

.book-detail {
  width: 75% !important;
}
.tabs-text {
  font-size: 14px;
  line-height: 24px;
}

.main-content {
  margin-bottom: 50px;
}
.bookInfo {
  position: relative;
  left: 50px;
  margin-top: 50px;
  justify-content: space-evenly;
}
/* product info */
.info-box {
  font-size: 14px;
  line-height: 24px;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  text-align: left;
  white-space: normal;
  color: #000 !important;
  box-sizing: border-box;
  display: inline-block;
  padding: 10px 15px 10px 0;
  text-align: left;
  vertical-align: top;
  width: 170px;
  margin-bottom: 20px;
}

.info-box-title {
  font-weight: 600;
  margin-bottom: 2px;
}

.info-box-text {
  font-weight: 100;
  vertical-align: middle;
  color: #000;
}

.myBotton {
  border: 1px;

  border-radius: 4px;
  /* box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05); */
  /* cursor: pointer; */
  display: block;
  /* font-family: "Roboto", sans-serif; */
  font-size: 14px;
  /* font-style: normal; */
  /* font-weight: 500; */
  /* height: 36px; */
  min-width: 80px;
  padding: 7px;
  position: relative;
  /* text-align: center; */
  /* text-decoration: none; */
  /* white-space: nowrap; */
  /* vertical-align: middle; */
  line-height: 20px;
  /* transition: all 0.2s; */
  height: 100%;
  /* position: relative; */
  /* text-rendering: optimizeLegibility; */
  /* z-index: -1; */
  display: inline-block;
  font-weight: 500;
  text-align: center;
}

.loadMore-btn {
  display: flex;
  justify-content: center;
}

.myBotton:focus {
  outline: none;
}

.cart-product {
  float: left;
  display: flex;
  flex-wrap: wrap;
}

.cart-img {
  width: 80px !important;
  height: 120px;
  margin: auto;
  display: block;
}
.cart-info-list {
  list-style-type: none;
  font-size: 0.85rem;
  font-weight: 400;
  color: #333;
}

th {
  background-color: #d4265b;
  color: white;
}

.cart-checkout {
  width: 31%;
  float: right;
  margin-top: 10px;
}

.line {
  border-bottom: 1px solid #ddd;
  box-sizing: inherit;
  margin: 0.5rem 0;
}

.line-row {
  border-bottom: 1px solid #dee2e6 !important;
}

.checkout-table {
  margin-top: 50px;
}

.quantityInput {
  width: 20%;
  color: transparent;
  text-shadow: 0 0 0 gray;
}
.quantityInput:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.cart-icon {
  cursor: pointer;
}

.cart-cell {
  min-width: 20px;
  max-width: 20px;
}

.delete-icon {
  cursor: pointer;
}
